html,
body {
    height: 100%;
    font-family: sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6, li {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500
}

body, div, ul, li, button, a, p, h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 65%;
    padding: 16px;
    margin: 0 auto;
    overflow: scroll;
}

.logo, .navBar, .footer {
    width: 100%;
}

.logo{
    display: flex;
    height: auto;
}

.footer-spacer {
    width: 100%;
    height: 60px;
    background-color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 16px;
}

.navBar ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    list-style-type: none;
}

.navBar ul li {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    padding: 0 10px;
    color: whitesmoke;
}

.navBar .enabledLink {
    display: inherit;
}

.navBar .navBarBurgerMenuIcon {
    display: none;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center
}

.navBar .navBarBurgerMenuIcon button {
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: flex-start;
    background-color: transparent;
}

.navBarLink {
    color: whitesmoke;
    font-size: 20px;
    opacity: 0.6;
}

.navBarLinkActive {
    opacity: 1;
}

.navBarLink:hover {
    opacity: 1;
    color: #ed1212;
    cursor: pointer;
}

/* Media screen size */
@media screen and (max-width: 768px) {
    .navBar .navBarBurgerMenuIcon {
        display: flex;
    }
    .navBar ul {
        flex-direction: column;
    }
    .navBar ul li {
        display: none;
    }
    .content {
        max-width: 90%;
    }
}
